


@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Open+Sans:ital,wght@0,300;0,500;1,600&family=Zilla+Slab:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 50px;;
    background: #004AAD;
    width: 100%;
    color: #fff;
    position: static;
    top: 0;
    left: 0;
    z-index: 100 ;
    margin-bottom: 20px;
}
header a{
    text-decoration: none;
    color: #ffffff;
}

.contenedorhead{
    width: 98%;
    margin: auto;
}
.usuario{
    display: none;
}
.ingresar a{
    display: block;
    color: white;
    height: 45px;
    text-decoration: none;
    padding: 15px;
}
h1{
    float: left;
    cursor: pointer;
 
font-size: 30px;
margin: 10px 0;
cursor: pointer;
}

header label{
float: right;
font-size: 28px;
margin: 6px 0;
cursor: pointer;
}

header .contenedorhead{
    display: table;
}

.column {
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
}

.column:last-child {
    margin-right: 0;
}