<html>

<head>
    <title>Catalogo</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/catalogo.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/fontello.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/Estilohead.css') }}">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="contenedorhead">
            <a href="/index">
                <h1 class="icon-home"></h1>
            </a>
            <a href="/catalogo">
                <h1 style="margin-left: 50px;">Catalogo</h1>
            </a>
            <a href="/crud">
                <h1 style="margin-left: 50px;">Crear producto</h1>
            </a>
        </div>
    </header>
    <section class="catalogocontenedor">
        <h2 class="titulo">Catálogo</h2>
        <div class="product-list">
            {% for prod in products %}
            <div class="product-card">
                <div class="product-image">
                    <img src="{{prod.8}}" alt="Producto">
                </div>
                <div class="product-info">
                    <h1>Nombre corto: {{prod.1}}</h1>
                    <p>Desc larga: {{prod.4}}</p>
                    <p>Precio: {{prod.5}}</p>
                    <h1>Cantidad : {{prod.7}}</h1>
                    <form action="/detalle.html">
                        <button class="view-detail-btn">Ver detalle</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Contactanos</h4>
                <p>SuperFlamel@gmail.com</p>
                <p>318 1234567</p>

            </div>
            <div class="content-foo">
                <h4>Cra 342 B # 12</h4>
                <p>Abierto Lunes-Viernes 8: 00 am - 8:00 pm</p>
                <p>Sabados y Domingos 9:00 am - 9:30 pm</p>
            </div>

        </div>
        <h2 class="titulo-final">&copy; Supermercado Flamel</h2>
    </footer>
</body>

</html>