<html>

<head>
    <title>Gestion de productos</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/fontello.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/Estilohead.css') }}">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="contenedorhead">
            <a href="/index">
                <h1 class="icon-home"></h1>
            </a>
            <a href="/catalogo">
                <h1 style="margin-left: 50px;">Catalogo</h1>
            </a>
            <a href="/crud">
                <h1 style="margin-left: 50px;">Crear producto</h1>
            </a>
            <a href="/login">
                <label class="icon-user-circle" for="usuario">Ingresar</label>
            </a>
        </div>
    </header>
    <section class="clientescontenedor">
        <h2 class="titulo">Gestión de productos</h2>
        <div class="cards">
            <div class="card">
                <div class="contenido-texto-card">
                    <section id="formulario">
                        <form class="form-container" action="/insert_prod" method="post">
                            <div class="column">
                                <label for="nombrel">Nombre Corto:</label>
                                <input type="text" id="nombrel" name="nombrel" placeholder="Nombre largo" required>
                                <br>
                                <label for="precio">Precio:</label>
                                <input type="text" id="precio" name="precio" required placeholder="Precio">
                                <br>
                                <label for="Descripcionc">Descripción Corta:</label>
                                <input type="text" id="Descripcionc" name="descripcionc" class="descripcion-input"
                                    required placeholder="Descripcion Corta">
                            </div>
                            <div class="column">
                                <label for="nombre">Nombre Largo:</label>
                                <input type="text" id="nombre" name="nombre" required placeholder="Nombre largo">
                                <br>
                                <label for="promocion">Promoción:</label>
                                <input type="text" id="promocion" name="promocion" placeholder="Promocion">
                                <br>
                                <label for="Descripcionl">Descripción Larga:</label>
                                <input type="text" id="Descripcionl" name="descripcionl" class="descripcion-input"
                                    placeholder="Descripcion Larga">
                            </div>
                            <div class="column">
                                <label for="cantidad">Cantidad:</label>
                                <input type="text" id="cantidad" name="cantidad" required placeholder="Cantidad">
                                <br>
                                <label for="url">URL:</label>
                                <input type="text" id="url" name="url" placeholder="URL de la imagen">
                                <br>
                                <input type="submit" name="guardar" class="boton" value="Guardar">
                                <input type="submit" name="eliminar" class="boton2" value="Eliminar">
                            </div>
                        </form>
                    </section>
                </div>


            </div>
        </div>
    </section>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Contactanos</h4>
                <p>SuperFlamel@gmail.com</p>
                <p>318 1234567</p>

            </div>
            <div class="content-foo">
                <h4>Cra 342 B # 12</h4>
                <p>Abierto Lunes-Viernes 8: 00 am - 8:00 pm</p>
                <p>Sabados y Domingos 9:00 am - 9:30 pm</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Supermercado Flamel</h2>
    </footer>
</body>

</html>