<html>

<head>
    <title>Detalle Producto</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/fontello.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/detalle-producto.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/Estilohead.css') }}">
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="contenedorhead">
            <a href="/index">
                <h1 class="icon-home"></h1>
            </a>
            <a href="/catalogo">
                <h1 style="margin-left: 50px;">Catalogo</h1>
            </a>
            <a href="/crud">
                <h1 style="margin-left: 50px;">Crear producto</h1>
            </a>
        </div>
    </header>
    <section class="detalle-producto-contenedor">
        <div class="detalle-producto">

            <div class="producto-imagen">
                <div class="tarjeta-blanca">
                    <img src="img/broccoli_2346952.png" alt="Producto">
                </div>
            </div>
            <!-- Parte Derecha: Detalles del Producto Organizados -->
            <div class="producto-detalles">
                <h1>Título Largo del Producto</h1>
                <div class="fila-detalle">
                    <div class="detalle">
                        <h3>Precio</h3>

                    </div>
                    <div class="detalle">
                        <h3>Cantidad</h3>

                    </div>
                    <div class="detalle">
                        <h3>Ayuda</h3>

                    </div>
                </div>
                <div class="cajon-descripcion">
                    <h3>Descripción del Producto</h3>

                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Contactanos</h4>
                <p>SuperFlamel@gmail.com</p>
                <p>318 1234567</p>

            </div>
            <div class="content-foo">
                <h4>Cra 342 B # 12</h4>
                <p>Abierto Lunes-Viernes 8: 00 am - 8:00 pm</p>
                <p>Sabados y Domingos 9:00 am - 9:30 pm</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Supermercado Flamel</h2>
    </footer>
</body>

</html>