<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/EstiloPagina.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/fontello.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/footer.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/Estilohead.css') }}">
</head>

<body>
    <header>
        <div class="contenedorhead">
            <a href="/index">
                <h1 class="icon-home"></h1>
            </a>
            <a href="/catalogo">
                <h1 style="margin-left: 50px;">Catalogo</h1>
            </a>
            <a href="/crud">
                <h1 style="margin-left: 50px;">Crear producto</h1>
            </a>
        </div>
    </header>
    <div class="zonaPropaganda">
        <div class="flecha-izquierda"></div>
        <img class="imagenLicuadora" src="/static/img/licuadora.webp" />
        <div class="textopromo">
            <h2 class="titulopromo">Promociones</h2>
            <h3 class="contpromo">Licuadoras al 50% de <br> descuento</h3>
        </div>
        <div class="flecha-derecha"></div>
    </div>


    <section class="titulo">
        <h3>Supermercado Flamel</h3>
    </section>
    <section class="descripcion">
        <h3>Super precios en el supermercado Flamel, tal vez no convertimos cobre en oro, pero nuestros precios harán
            parecer que <br>
            así es. Vendemos productos de despensa, higiene y electrodomesticos entre otros.</h3>
    </section>


    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Contactanos</h4>
                <p>SuperFlamel@gmail.com</p>
                <p>318 1234567</p>

            </div>
            <div class="content-foo">
                <h4>Cra 342 B # 12</h4>
                <p>Abierto Lunes-Viernes 8: 00 am - 8:00 pm</p>
                <p>Sabados y Domingos 9:00 am - 9:30 pm</p>
            </div>

        </div>
        <h2 class="titulo-final">&copy; Supermercado Flamel</h2>
    </footer>
</body>

</html>