
.product-card {
    background-color: #004AAD; 
    padding: 40px;
    display: flex; 
    align-items: center; 
    justify-content: center; 


    margin: 20px 100px; 
}



.product-info {
    background-color: #ffffff; /* Blanco */
    padding: 20px;
    text-align: center;
    
    text-decoration: none;
    border-radius: 10px;
    width: 70%;
    margin: 10px;
    height: 200px;
}

.product-card h1{
    color: #004AAD;
}
.titulo {
    color: #004AAD; 
    text-align: left;
    font-size: 35px;
    margin-left: 100px;
}


.product-image {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    height: 200px;
}


.product-image img {
    max-width: 150px; /
}


.view-detail-btn {
    display: block;
    margin: 10px auto;
    background-color: #004AAD;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.view-detail-btn:hover {
    background-color: #512da8;
}

.view-detail-btn:active {
    background-color: #4527a0;
}
